@import "../libs/normalize.css";

/* ========== bootstrap variables =====*/

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1170px,
    xxl: 1440px,
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1240px,
    xxl: 1800px,
) !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
        0: 0,
        1: (
            $spacer * 0.25,
        ),
        2: (
            $spacer * 0.5,
        ),
        3: $spacer,
        4: (
            $spacer * 1.5,
        ),
        5: (
            $spacer * 3,
        ),
        g: 15px,
    ),
    $spacers
);

@import "../libs/bootstrap/scss/bootstrap-grid.scss";
@import "../libs/bootstrap/scss/utilities/flex";
@import "../libs/bootstrap/scss/utilities/spacing";

/*============  variables =======*/
$text-color: #5a5a5a;
$text-light: #fff;
$main-color: #3677fd;

body {
    font-family: "Lato", sans-serif;
    color: $text-color;
    font-size: 16px;
    line-height: 35/16;
}
a {
    color: $text-color;
}

.text-center {
    text-align: center;
}
